.want {
	
	background: url(../img/want/bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.want__row {
	display: flex;
	flex-direction: column;
	align-items: start;
}
.want__title {
font-weight: 500;
font-size: 40px;
line-height: 145%;
/* or 58px */


color: #FFFFFF;
margin-top: 295px;

margin-bottom: 30px;
width: 60%;
}
.want__form {
background: #066D66;
border-radius: 20px;
padding: 25px 70px 30px 70px;

width: 55%;	
margin-bottom: calc(31px + (188 - 30) * ((100vh - 320px)/(1120 - 320)));
}
.want__data{
	display: grid;
	grid-template-columns: repeat(2, 40% );
	grid-gap: 30px;
}
.want__form input[type=text]{
	font-weight: 500;
	font-size: 18px;
	line-height: 150%;
	/* identical to box height, or 27px */

	background: none;
	border: none;
	padding-bottom: 10px;
	color: #FFFFFF;
	border-bottom:  2px solid #FFFFFF;

	flex: 0 0 20%;
}
.want__title_form {

font-size: 24px;
line-height: 154%;
/* or 37px */


color: #FFFFFF;
margin-bottom: 30px;

width: 70%;
}
.want__text {
font-weight: 500;
font-size: 12px;
line-height: 146.83%;
/* or 18px */


color: #FFFFFF;

margin: 20px 0;

width: 78%;
}
.want__btn {
font-weight: 500;
font-size: 16px;
line-height: 146.83%;
/* or 23px */


color: #066D66;
background: #FFFFFF;
border-radius: 15px;
padding: 14px 45px;
border: none;
}



.want{
	max-width: 100%;
	position: relative;
}
.want__bg img{
	max-width: 100%;
	display: block;
	position: absolute;
}
.want__content{
}



.cosmo {
	padding-top: 60px;
	padding-bottom: 100px;
}
.cosmo__inner {
	display: flex;
	flex-direction: column;
}
.cosmo__title {
font-weight: bold;
font-size: 40px;
line-height: 47px;
/* identical to box height */

letter-spacing: 0.05em;

color: #000000;

margin-bottom: 90px;
}
.cosmo__content {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap-reverse;
}
.cosmo__img {
}
.cosmo__img img{
	width: 100%;	
}
.cosmo__body {
	display: flex;
	flex-direction: column;
	flex: 0 0 65%;
}
.cosmo__btns {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	margin-bottom: 30px;
}
.cosmo__item {
	position: relative;
}
.cosmo__item:after {
	content: '';
	top: 29px;
	left: -10px;
	position: absolute;
	width: 13%;
	height: 1px;
	background: #DFDFDF;
	transform: rotate(90deg);
	display: none;
}
.cosmo__item:nth-child(n+2) {
	padding-left: 36px;
}
.cosmo__item:nth-child(n+2):after {
	display: block;
}
.cosmo__btn {
font-size: 18px;
line-height: 210%;
/* identical to box height, or 38px */

letter-spacing: 0.05em;

color: #FFFFFF;
background: #066D66;
border-radius: 15px;

padding: 11px 53px;

border: none;
display: block;		
}
.cosmo__btn:nth-child(n+2) {
	color: red;
	background: none;
	border-radius: none;

	padding: 0px 0px;
}
.cosmo__list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 30px;
	justify-items: start;
}
.cosmo__link {
font-size: 16px;
line-height: 19px;
/* identical to box height */

letter-spacing: 0.05em;

/* Тестовый */

color: #066D66;

position: relative;

}
.cosmo__link:hover {
	font-weight: bold;
}

.cosmo__link:after {
	content: '';
	position: absolute;
	top: 23px;
	left: 0;
	width: 70px;
	height: 2px;
	background: #066D66;
}